<div class="my-20 mx-40">
    <h2 class="text-base/7 font-semibold text-blue-500 text-center">Testimonials</h2>
    <p class="mb-6 text-pretty text-2xl font-semibold tracking-tight text-gray-900 sm:text-5xl lg:text-balance text-center">
        Here's what our early adopters say
    </p>

    
    <div class="grid grid-flow-col grid-cols-4 gap-5 ">
        <a class="row-span-2 text-lg flex items-center text-center bg-blue-100 rounded-md p-5 hover:cursor-pointer hover:border-blue-500 hover:text-blue-500 transition-all"
        href="https://www.producthunt.com/products/doctrina?comment=3822407#codebrisk">
            « this is a super practical tool for devs. Love how CodeBrisk helps keep all that code in one spot. Kudos to you and your team for building something so useful! »   </a>
        <a class="col-span-2 flex items-center bg-blue-100 text-center rounded-md p-5 hover:cursor-pointer hover:border-blue-500 hover:text-blue-500 transition-all"
        href="https://www.producthunt.com/products/doctrina?comment=3825946#codebrisk">
            « CodeBrisk sounds like a fantastic solution for streamlining code management and boosting productivity. The concept of storing code snippets as shortcuts is clever and should definitely help developers save time and focus more on building their projects. »   </a>
        <a class="bg-blue-100 rounded-md p-5 hover:cursor-pointer hover:border-blue-500 hover:text-blue-500 transition-all"
        href="https://www.producthunt.com/products/doctrina?comment=3822831#codebrisk">
            « Impressed by your launch as this is a problem most developers face. And it's also free! Great work. »   </a>
        <a class="col-span-2 text-center bg-blue-100 rounded-md p-5 hover:cursor-pointer hover:border-blue-500 hover:text-blue-500 transition-all"
        href="https://www.producthunt.com/products/doctrina?comment=3826360#codebrisk">
            « sounds like a great solution for developers drowning in code snippets. Love the idea of storing everything in one place to boost productivity. Can’t wait to test it out and see how it enhances my workflow. Upvoted! 🚀 »    </a>
        <a class=" bg-blue-100 rounded-md p-5 hover:cursor-pointer hover:border-blue-500 hover:text-blue-500 transition-all"
        href="https://www.producthunt.com/products/doctrina?comment=3824369#codebrisk">
            « Having quick access to all my scripts in one place is going to save me so much time. Love the idea of simplifying workflow while boosting productivity. » 
        </a>

    </div>
</div>    