<div class="flex items-center gap-5 bg-<%= bg_color%>-100 w-fit rounded-lg p-3 ">
    <%= image_tag("https://images.unsplash.com/photo-1542452376175-82b6fb643412?q=80&w=1301&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", 
    class:"rounded-lg cover-fit w-[#{size_px}px] h-[#{size_px}px]")%>
    <div>
        <h2 class="font-bold text-3xl tracking-tight">
            <%= title%>
        </h2>
        <p>
            <%= text%>

        </p>
    </div>
</div>