<div class="min-h-screen flex justify-center items-center p-10  *:font-semibold bg-slate-200">
    <section class="flex">
      <div class="flex flex-col">
        <h1 class="w-[732px] text-slate-900 font-bold text-6xl ">
          Make your websites faster and prettier
        </h1>
        <p class="w-[400px]  m-1 mt-6 text-slate-700 *:border-sky-600">
          Lapiz is a <span class="border-b-2 border-dashed">CSS animations framework</span> for any developer who wants to design efficiently
          and save time in his development. Lapiz is <span class="border-b-2 border-dashed">Free and Open Source</span>
        </p>
        <div class="flex flex-col mt-10">
          <h2 class="font-bold text-slate-600">
            Install via CDN
          </h2>
          <h3 class="text-sm mb-3 text-slate-700 fade-left">
            Paste this in your HTML head*
          </h3>
          <div class="flex fade-left">

          </div>
        </div>
      </div>
  
  
    </section>
  </div>
  
  
  