<div class="flex gap-5 justify-center items-center ">
    <p>1000+ People using this product</p>
    <div class="flex *:-mr-3 *:w-10 *:h-10 *:object-cover *:rounded-full">
        <%=image_tag("https://cdn.creazilla.com/illustrations/7130110/rembrandt-self-portrait-with-velvet-beret-google-art-project-illustration-xl.jpeg")%>
        <%=image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaZZ4MsKJm-3t7yWVskMOzzUNYu96SoaMrJA&s")%>
        <%=image_tag("https://upload.wikimedia.org/wikipedia/commons/5/54/LEONARDO_DA_VINCI.jpg")%>
    </div>
</div>