<h3 id="pricing" class="mt-[120px] text-center text-lg text-rose-500 font-semibold  lg:visible md:visible invisible">Pricing</h3>
<h2 class="text-center text-4xl font-extrabold tracking-tight lg:visible md:visible invisible w-[600px]">Save hours of repetitive code, ship fast, get profitable!</h2>
<div data-turbo="false" class="flex flex-col lg:flex-row justify-center mt-5 gap-10    ">
    <%= render "static_pages/pricing-plans/starter"%>
    <%= render "static_pages/pricing-plans/premium"%>
</div>