<h1 id="pricing" class="mt-[120px] text-3xl font-extrabold tracking-tight text-slate-800">Pricing</h1>

<div data-turbo="false" class="flex justify-center mt-20 gap-20 h-[calc(100vh-270px)]   ">
    <%= render "static_pages/pricing-plans/starter"%>
    <%= render "static_pages/pricing-plans/premium"%>
</div>