<br id="home">

<div class="flex flex-col lg:justify-start justify-center lg:items-start items-center h-full p-5  mx-10"data-turbo="false">
    <div class="flex lg:flex-row flex-col-reverse justify-center lg:items-start items-center lg:mt-32 -mt-20"  data-turbo="false">
        <div class="flex flex-col lg:items-start items-center mt-10">
            <h1 class="w-[800px] font-extrabold lg:text-8xl text-xl lg:text-left text-center -ml-2 mt-10 line-clamp-2 tracking-tighter text-slate-900 backdrop:shadow-md">
                Design rails websites
                <span class="text-rose-600">faster</span> than ever   
            </h1>
            <p class="lg:w-[600px] w-[320px] lg:text-base text-sm lg:text-justify text-center">
                Rails Elements is a ruby on <span class="underline">rails UI library</span> for developers who want to <span class="underline">finsh projects faster</span>.
                This template offers prebuilt pages, reusable rails components, JS scripts for the front-end and animations
                
            </p>
            <div class="flex gap-5 text-">
                
    
                <%if user_signed_in?%>
                    <%= button_to stripe_starter_checkout_path,
                    class:"flex justify-center items-center w-fit gap-2 shadow-lg px-3 py-3 mt-5 group rounded-md font-semibold bg-rose-600 hover:bg-rose-700 text-sm text-slate-50 transition-all" do%>
                        Design 10x faster
                        <svg class="group-hover:rotate-180 transition-all duration-300" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-train-track"><path d="M2 17 17 2"/><path d="m2 14 8 8"/><path d="m5 11 8 8"/><path d="m8 8 8 8"/><path d="m11 5 8 8"/><path d="m14 2 8 8"/><path d="M7 22 22 7"/></svg>
                    <%end%>
                <%else%>
                    <%= link_to new_user_session_path, target:"_blank",
                    class:"flex justify-center items-center w-fit gap-2 shadow-lg px-3 py-3 mt-5 group rounded-md font-semibold bg-rose-600 hover:bg-rose-700 text-sm text-slate-50 transition-all" do%>
                        Design 10x faster
                        <svg class="group-hover:rotate-180 transition-all duration-300" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-train-track"><path d="M2 17 17 2"/><path d="m2 14 8 8"/><path d="m5 11 8 8"/><path d="m8 8 8 8"/><path d="m11 5 8 8"/><path d="m14 2 8 8"/><path d="M7 22 22 7"/></svg>
                    <%end%>
                <%end%>
                <%= link_to "https://github.com/SM-16/Rails-elements-free",
                class:"flex justify-center items-center w-fit gap-2 shadow-lg px-4 py-3 mt-5 group rounded-md text-sm font-semibold bg-slate-100 border border-slate-300 border-100  transition-all" do%>
                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                </svg>
                    Explore Free components
                <%end%>
            </div>
        </div>


        <div class="w-[320px] flex lg:ml-5 lg:-mt-16">
            <%= image_tag("/hero-image.png", class:"relative lg:top-10 lg:-right-10 top-10 -right-28 lg:w-[300px] lg:h-[300px] w-[140px] h-[140px] object-cover")%>
    
        </div>
    </div>
    <div class="mx-auto w-[800px] h-fit rounded-md p-3 space-y-1 py-10 mt-20 text-center font-semibold text-slate-600">
        <p><span class="text-red-500">4 hours</span> for a landing page</p>
        <p><span class="text-red-500">10 hours</span> for other pages</p>
        <p><span class="text-red-500">2 hours</span> for animations</p>
        <p><span class="text-red-500">6 hours</span> coding the front-end</p>
        <p class="">
            <span class="text-red-500">repeat</span> = <span class="text-xl font-mono">∞</span> hours
        </p>
        <p class="flex items-center justify-center gap-1 font-normal text-sm pt-7 ml-2">
            There's faster way 
            <svg class="rotate-90 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
        </p>
    </div>
     
</div>
