<h3>My Story</h3>
<p>
    Since I've started coding my webistes I found tedious the proccess of repeating the same thing over and over again.
    <p>
        landing page -> Authentication -> Payments -> production...
    </p>    
</p>
<p>
    that's why I decided to create a brand new soltuion to this, a ruby on Rails template that saves a lot of time.
    This is for the developers who want to stop wasting time repeating the same cycle over and over each time they enter a new project, 
    for the developers who are willing to save time and resources.
</p>
<p>
    Now I present you Rails Elements, the solution.
</p>